<select class="p-2 bg-blue-200 rounded shadow" id="timeInput" onchange={{action "updateTime" value="target.value"}}>
  <option value="all">All Time</option>
  <option value="year">Past Year</option>
  <option value="month">Past Month</option>
  <option value="week">Past Week</option>
  <option value="day">Past Day</option>
</select>
