@import "node_modules/bootstrap/scss/bootstrap";

$global-font: "proxima-nova";

*{font-family: $global-font;}

.skill-label {
    font-size: 2.5vw;
}

.bullet {
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.5);
}
