<h1>skills</h1>

<div class="row justify-content-center">
  <div class="col-auto">
  <table class="table">
    <tbody>
      {{#each skills as |skill|}}
        <tr>
          <td>
            <p class="skill-label text-nowrap text-secondary">{{skill.name}}</p>
          </td>
          <td>
            {{#each (repeat skill.level) as |empty|}}
              <div class="bullet bg-info border border-dark rounded d-inline-block w-20 h-100 p-4"></div>
            {{/each}}
          </td>
        </tr>
        {{/each}}
      </tbody>
  </table>
</div>
</div>
