<h1>skills</h1>

<div class="row justify-content-center">
  <div class="col-auto">
  <table class="table">
    <tbody>
      {{#each skills as |skill|}}
        <tr>
          <td>
            <h2>{{skill.name}}</h2>
          </td>
          <td>
            {{#each (repeat skill.level) as |empty|}}
              <div class="bullet"></div>
            {{/each}}
          </td>
        </tr>
        {{/each}}
      </tbody>
  </table>
</div>
</div>
