<h1>skills</h1>

<table class="table">
  <tbody>
    {{#each skills as |skill|}}
      <tr>
        <td>
          {{skill.name}}
        </td>
        <td>
          {{!#each (repeat 3) as |empty|}}
            <div>{{skill.level}}</div>
          {{!/each}}
        </td>
      </tr>
      {{/each}}
    </tbody>
</table>
