<div class="bg-black relative">
    <p class="text-white text-6xl font-extrabold absolute inset-0 flex items-center justify-center">Luke Lakea</p>
  	<video class="bg-black opacity-50 my-background-video jquery-background-video" loop autoplay muted playsinline>
  		<source src="typing.mp4" type="video/mp4">
  	</video>
</div>
<h1 class="text-center absolute ml4 text-6xl h-16 font-extrabold">
  <span class="letters letters-1">Ready</span>
  <span class="letters letters-2">Set</span>
  <span class="letters letters-3">Go!</span>
</h1>
