<section class="bg-gray-300">
  <div class="flex flex-wrap content-center justify-center">
      {{#each projects as |project|}}
        <HomePage::ProjectBox @project={{project}} />
      {{/each}}
  </div>
</section>
